.picker-address{
  height: 200px;
  overflow-y: auto;
  cursor: pointer;
}
.address-bg{
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin-bottom: 22px;
  margin-bottom: 22px !important;
  .address-title{
    width: 120px;
    height: 34px;
    line-height: 34px;
    text-align: left;
    padding-right: 12px;
    color: #606266;
    font-weight: 700;
    .start{
      color:#f56c6c;
      margin-right: 5px;
    }
  }
  .address-input{
    font-size: 12px;
    padding: 0 15px;
    width: 300px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #dcdfe6;
    color: #68696d;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    &.bad{
      border: 1px solid #f56c6c;
    }
    &.good{
      border: 1px solid #66c23a;
    }
    .address-input-err{
      color: #f56c6c;
      position: absolute;
      bottom: -30px;
      left: 0px;
    }
  }
}